@media(max-width: 1000px) {
    .kepala {
        display: none;
    }

    main #about .ket {
        width: 100%;
    }
}

@media(max-width: 670px) {
    .kepala {
        display: none;
    }

    main #about .ket {
        width: 100%;
    }

    .pengembang {
        display: none;
    }

    nav .nav ul {
        display: none;
    }

    .nav {
        justify-content: center;
    }
}
